{% extends "app_store/base.html" %}
{% block title %}Payment{% endblock %}

{% block content %}

<script type="text/javascript">
function Random(){
 const max = 89999999;
 const min = 10000000;
 return Math.floor(Math.random() * max) + min;
}

function change(){
  document.getElementById('code').value = Random();
}
</script>
<h3>Payment</h3>

<form method="post" class="order-form" id="form">
  {% csrf_token %}
  Order: {{ order.id }}<br>

  {% if order.payment == 'random' %}
    <fieldset class="form-field">
      <label id="label" value="Hy">{{ form.number.label }}</label>
      <input readonly="readonly" name="Code" id="code" value="">
      <button id="random" type="button" onclick="change()">Random</button>
    </fieldset>
  {% else %}
    {{ form.as_p }}
  {% endif %}

  <input type="submit" value="Confirm">
</form>

{% endblock %}