{% extends "app_store/base.html" %}
{% block title %}Order History{% endblock %}

{% block content %}
{% if orders %}
  {% for order in orders %}
    <ul>
      <li><a href="{% url 'account:order_history_detail' order.id %}">
        Number order: {{ order.id }}<br>
        Total price: {{ order.get_total_cost }}<br>
        Payment: {{ order.payment }}<br>
        Delivery: {{ order.delivery }}<br>
        Status: {{ order.paid }}<br>
        {% if order.error %}
          Error: {{  order.error }}<br>
        {% endif %}
        </a>
      </li>
    </ul>
  {% endfor %}
{% else %}
  <p>None</p>
{% endif %}
{% endblock %}