{% extends 'app_store/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Profile</h1>
  {{ request.user }}
<ul>

  {% if request.user.image %}
    <li>Your image: <img src="{{ request.user.image.url }}" width="200" height="" alt="Fail"/></li>
  {% endif %}
  <li>First name: {{ request.user.first_name }}</li>
  <li>Second name: {{ request.user.last_name }}</li>
  <li>Phone: {{ request.user.phone }}</li>
</ul>
<a href="{% url 'account:edit_profile' user.pk %}#edit">Edit profile</a>

<h3>Your last order</h3>
{% if order %}
    <ul>
      <li>
        <a href="{% url 'account:order_history_detail' order.id %}">
          Order: {{ order.id }}<br>
          data: {{ order.created }}<br>
          status: {{ order.paid }}<br>
        </a>
      </li>
    </ul>
  <a href="{% url 'account:order_history' %}#edit">See all</a>
{% else %}
  <p>Nothing here</p>
{% endif %}
{% endblock %}